<div class="container flex flex-stretch">
    <div class="second-block">

        <mat-icon class="logo blue-col" svgIcon="logo"></mat-icon>

        <h1 class="title">Ça se passe maintenant</h1>
        <h2 class="subtitle">Rejoignez Twitter dès aujourd'hui.</h2>

        <div class="center">
            <div class="button flex hover"
                matTooltip="Cette fonctionnalité n'est pas encore disponible, veuillez utiliser l'identification classique">
                <div class="flex flex-close">
                    <img src="https://lh3.googleusercontent.com/a/AATXAJxVWKPWLcIMhacqvDUBKEZ8IuV6q-K5PY8IY_pI=s96-c"
                        alt="User google icon">
                    <div class="content roboto">
                        <p>Se connecter en tant que user</p>
                        <span>user.mail@gmail.com</span>
                    </div>
                </div>
                <mat-icon svgIcon="google"></mat-icon>
            </div>

            <div class="separator flex">
                <div class="line"></div>
                <span>ou</span>
                <div class="line"></div>
            </div>

            <ng-container *ngIf="loginForm">
                <form [formGroup]="loginForm" autocomplete="off">
                    <mat-form-field appearance="outline" color="primary">
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input matInput placeholder="Saisissez votre nom d'utilisateur" formControlName="username">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput placeholder="Saisissez votre mot de passe" type="password"
                            formControlName="password">
                    </mat-form-field>
                    <p class="error-message" *ngIf="errorState">{{errorMessage}}</p>
                    <div class="login-btn flex-center" (click)="login()">
                        <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
                        <span *ngIf="!loading">Se connecter</span>
                    </div>
                    <div class="signup">
                        <p>Vous n'avez pas encore de compte ?</p>
                        <span class="blue-col" routerLink="/signup">Créez-en un</span>
                    </div>

                </form>
            </ng-container>
        </div>


    </div>
    <div class="first-block flex-center">
        <mat-icon class="logo white-col" svgIcon="logo"></mat-icon>
    </div>
</div>