.container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    .first-block {
        width: 40%;
        align-self: stretch;
        min-height: 100vh;
        background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png');
        background-size: cover;
        background-repeat: no-repeat;

        .logo {
            width: 70%;
            height: 70%;
        }
    }

    .second-block {
        align-self: stretch;
        width: 60%;
        padding-left: 2em;
        margin-bottom: 2em;

        .logo {
            margin: 2em 0 0 0em;
            width: 5em;
            height: 5em;
        }
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.flex-stretch {
    justify-content: stretch;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-close {
    flex-direction: row;
    justify-content: flex-start;

    div:last-child {
        margin-left: 15px;
    }
}

.white-col {
    color: white;
}

.white-back {
    background-color: white;
}

.blue-col {
    color: rgb(29, 155, 240);
}

.blue-back {
    background-color: rgb(29, 155, 240);
}

.title {
    font-size: 64px;
    color: black;
    word-break: break-word;
    max-width: 10em;
}

.subtitle {
    font-size: 35px;
    color: black;
    word-break: break-word;
}

@media (max-width: 1000px) {
    .flex {
        flex-direction: column;
    }

    .first-block {
        width: 100% !important;
        height: 10em !important;
    }

    .second-block {
        text-align: center;
        padding: 0;
        margin: auto;
        padding-bottom: 3em;

        .button {
            margin: auto;
        }

        form {
            margin: auto;
            margin-top: 2em;
            width: 100%;

            mat-form-field {
                width: 20em;
                margin: auto;
                margin-bottom: 0.5em;
            }
        }
    }

    .separator {
        display: none;
    }
}


.hover:hover {
    background-color: #dae6f8;
    border-color: #d2e3fc;
    cursor: pointer;
}

.center {
    margin: auto;
    margin-top: 3.5em;
}

.button {
    width: 47%;
    min-width: 20em;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 12px;
    flex-direction: row;
    transition: all .5s ease-in-out;

    img {
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }

    .content {
        text-align: left;
        font-family: system-ui;

        p {
            margin: 0;
            font-weight: bold;
        }    
    }
}

form {
    width: 50%;
    margin: 2em 2em 0 0;

    mat-form-field {
        width: 100%;
        display: block;
        margin-bottom: 1em;
    }
}

.login-btn {
    width: 15em;
    height: 2em;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    background-color: rgb(29, 155, 240);
    color: white;
    font-family: system-ui;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.login-btn:hover {
    cursor: pointer;
}

.separator {
    width: 50%;
    margin-top: 2em;
    font-family: system-ui;

    .line {
        height: 1px;
        width: 40%;
        background-color: rgb(207, 217, 222);
    }

    span {
        margin: 0 10px 0 10px;
    }
}

.signup {
    margin: auto;
    font-family: system-ui;
    text-align: center;

    p {
        margin: 10px 0 5px 0;
    }

    span {
        font-weight: bold;
    }

    span:hover {
        cursor: pointer;
    }
}

.error-message {
    color: #EF3054;
    font-family: system-ui;
    font-size: 12px;
    text-align: center;
    margin: 0;
    margin-bottom: 2em;
    transition: all .5s ease-in-out;
}

.valid-message {
    color: #2FBF71;
    font-family: system-ui;
    font-size: 12px;
    text-align: center;
    margin: 0;
    margin-bottom: 2em;
    transition: all .5s ease-in-out;
}

.disabled {
    pointer-events: none;
    background-color: #c1c1c1;
}