@font-face {
    font-family: "TwitterChirpExtendedHeavy";
    src: url("./assets/fonts/chirp-extended-heavy-web.woff") format("opentype");
}

@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-blue,500);
  $accent: mat-palette($mat-orange,200);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);


html, body {
    margin: 0;
    height: 100% !important;
}

body {
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(29, 155, 240) !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(29, 155, 240) !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: rgb(29, 155, 240) !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgb(29, 155, 240) !important;
}

.mat-focused {
    .mat-form-field-label {
        color: rgb(29, 155, 240) !important;
    }
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #fff !important;
}