<div class="container flex flex-stretch">
    <div class="second-block">

        <h2 class="subtitle">Créer ton compte</h2>

        <div class="center">


            <form [formGroup]="signupForm">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Nom et prénom</mat-label>
                    <input matInput placeholder="Saisissez votre nom et prénom" autocomplete="off"
                        formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput placeholder="Saisissez votre nom d'utilisateur" formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput placeholder="Saisissez votre mot de passe" type="password"
                        autocomplete="new-password" formControlName="password">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirmation du mot de passe</mat-label>
                    <input matInput placeholder="Confirmez votre mot de passe" type="password"
                        autocomplete="new-password" formControlName="confirmPassword">
                    <mat-error *ngIf="signupForm.controls.confirmPassword.hasError('notSame')">
                        Les mots de passes doivent être identiques
                    </mat-error>
                </mat-form-field>
                <p class="error-message" *ngIf="errorState">{{errorMessage}}</p>
                <p class="valid-message" *ngIf="validState">{{validMessage}}</p>
                <div class="login-btn flex-center" (click)="signup()"
                    [ngClass]="{'login-btn': true, 'flex-center': true, 'disabled': !signupForm.valid}">
                    <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
                    <span *ngIf="!loading">Créer mon compte</span>
                </div>
                <div class="signup">
                    <p>Vous avez déjà un compte ?</p>
                    <span class="blue-col" routerLink="/login">Me connecter</span>
                </div>

            </form>
        </div>


    </div>
    <div class="first-block flex-center">
        <mat-icon class="logo white-col" svgIcon="logo"></mat-icon>
    </div>
</div>