<div class="container flex flex-row flex-start">
    <div class="menu">
        <mat-icon class="logo blue-col" svgIcon="logo"></mat-icon>
        <div class="item">
            <mat-icon aria-hidden="false" aria-label="Home button">home</mat-icon>
            <p>Accueil</p>
        </div>
        <div class="item" (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="Logout button">logout</mat-icon>
            <p>Déconnexion</p>
        </div>
    </div>

    <div class="feed">
        <h1>Bienvenue sur le feed Twitter !</h1>
        <p>Vous êtes à présent connecté à l'application via un token crée selon le protocole OAuth2.</p>
        <p *ngIf="message"><i>{{message}}</i></p>
        <p>Pour vous déconnecter, veuillez cliquer sur <b>"Déconnexion"</b>.</p>
    </div>
</div>