.logo {
    margin: 2em 0 0 0em;
    width: 2em;
    height: 2em;
}

.menu {
    width: 15%;
    padding-left: 5em;
    height: 100%;
    min-height: 100vh;
    border-right: 0.3px solid rgba(223, 223, 223, 0.9);

    .item {
        margin-top: 1em;
        width: fit-content;
        height: auto;
        display: flex;
        align-items: center;
        color: rgb(15, 20, 25);
        font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        padding: 10px 20px 10px 20px;
        border-radius: 50px;
        transition: all ease-in-out .5s;

        p {
            margin: 0;
            margin-left: 10px;
        }

        mat-icon {
            width: 30px;
            height: 30px;
            font-size: 30px;
        }
    }

    .item:hover {
        background-color: rgba(190, 190, 190, 0.822);
        cursor: pointer;
    }

    .item.selected {
        color: black;
        font-weight: bold;
    }
}

.feed {
    padding-left: 2em;

    p {
        font-family: system-ui;
    }
}