<div class="container">
    <mat-icon class="not-found" svgIcon="notFound"></mat-icon>
    <h1>Oups... Vous vous êtes perdus !</h1>
    <div class="return-btn" routerLink="/feed">
        <span>Retour</span>
    </div>
</div>