.container {
    margin: auto;
    text-align: center;
}

.button {
    margin: auto;
}

.not-found {
    width: 20em;
    height: 20em;
}

.return-btn {
    width: 10em;
    padding: 10px 20px 10px 20px;
    background-color: rgb(29, 155, 240);
    border-radius: 50px;
    color: white;
    margin: auto;
    font-family: system-ui;
    font-weight: bold;
    transition: all ease-in-out .5s;
}

.return-btn:hover {
    cursor: pointer;
    transform: scale(1.03);
}